/*Projekteinstieg*/

.projektseite {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
}

.projekt-einstieg {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}   

.projekt-beschrieb {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.projekt-titelbild {
    width: 50%;
}

.projekt-titelbild img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-facts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 5px solid var(--color-dark-gray);
}

.card-facts{
    width: calc(50% - 4rem);
    padding: 1rem;
	border: 1px solid var(--color-blue);
	border-radius: 5px;
    color: var(--color-blue);
}

.card-facts p {
    margin-block-start: 0.2em;
    margin-block-end: 0em;
    color: var(--color-blue);
}

/*Postkarten*/

.postcard {
    width: calc(100% - 12rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.postcard img{
    width: calc( 90% / 4);
    height: auto;
    object-fit: cover;
}



/*Leoporello*/

.leoporello {
    padding-top: 5rem;
    padding: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--accent-color-orange);
    padding-left: 6rem;
    padding-right: 6rem;
}

.leoporello img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Awards*/

.awards {
    gap: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.awards-container{
    display: flex;
    flex-direction: row;
    width: 65%;
    gap: 1rem;
}

.awards p {
    width: 30%;
}

.awards img{
    width: calc(50% - 0.5rem);
    justify-content: space-between;
    height: auto;
    object-fit: cover;
}

/*responsive*/

@media screen and (max-width: 600px) {
    .postcard, .projektseite, .leoporello, .awards {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .projekt-einstieg {
        flex-direction: column-reverse;
    }

    .projekt-titelbild {
        width: 100%;
    }
    
   .card-facts-container, .projekt-beschrieb {
        width: 100%;
        justify-content: space-between;
   }

   .postcard {
        width: calc(100% - 4rem);    
        flex-wrap: wrap;
        gap: 1.5rem;
   }
   .postcard img{
        width: calc( 90% / 2)
   }

    .card-facts {
        width: calc((100% - 5.2rem)/2);
    }   

    .awards {
        width: calc(100% - 4rem);
        flex-direction: column;
    }

    .awards-container {
        width: calc(50% - 0.5rem);
        gap: 1rem;
    }

    .awards img {
        width: 100%;
    }

    .awards p {
        width: 100%;
    }