/* Main-About me */

figure{
	margin: 0;
}

.article-me{
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.article-me p{
	width: 90%;
	flex-wrap: wrap;
}

.icon-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.icon-text img{
	width: auto;
	height: 25px;
}

.img-me{
	width: 50%;
	height: auto;
}

.main-einstieg{
	padding: 6rem;
	padding-top: 2rem;
}

.main-yellow{
	background-color: var(--accent-color-orange);
	padding: 6rem;
	padding-top: 4rem;
}

/*
.text-me{
	
}
*/

.button{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.flex-row-container{
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.flex-row{
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border: 1px solid ;
	border-radius: 5px;
	
}

.flex-row p{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.flex-row h6{
	margin-bottom: 0.5rem;
}

/*Responsive*/

@media screen and (max-width: 600px) {
	.article-me {
		flex-direction: column;
	}

	.flex-row-container {
		flex-direction: column;
	}

	.main-yellow, .main-einstieg {
		padding: 2rem;
	}

	.img-me {
		width: 100%;
		height: auto;
	}
	.flex-row{
		width: calc(100% - 2rem);
	}
}
