
/*Projekteinstieg*/

.projekt-einstieg {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}   

.projekt-beschrieb {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.projekt-titelbild {
    width: 40%;
}

.projekt-titelbild img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-facts-container{
    display: flex;
    flex-wrap: wrap;
}

.card-facts{
    width: 50%;
}

/*Postkarten*/

.postcard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postcard img{
    width: 18%;
    height: auto;
    object-fit: cover;
}



/*Leoporello*/

.leoporello {
    padding-top: 5rem;
    padding: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--accent-color-orange);
}

.leoporello img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Awards*/

.awards {
    gap: 5%;
}

.awards img{
    width: 30%;
    height: auto;
    object-fit: cover;
}